
    <div class="container">
        <a class="logoContainer">
           Dream 
        </a>
        <nav class="navStyle">
          <ul class="ulStyle">
            <li>
              <a href="#" class="button1">
                Home
              </a>
            </li>
            <li>
              <a href="#" class="button2">
                My Dreams
              </a>
            </li>
            <li>
              <a href="#" class="button3">
                Help Center
              </a>
            </li>
          </ul>
        </nav>
        <div class="divButtonContainer">
          <button class="registerButton">Register</button>
          <button class="signInButton">Sign In</button>
        </div>
      </div>
